body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 6%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    margin-top: 1%;
    margin-bottom: 8%;
    color: #808080;
}

.subheading {
    font-family: 'Satisfy', cursive;
    font-size: 180%;
    color: #ac8871;
}

.header {
    width: 100%;
    text-align: center;
}

.logo {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.menu-item {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 20px;
}

.menu-image {
    width: 127px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    padding-top: 5px;
}

.rounded {
    border-radius: 10px;
}

.item-details {
    text-align: left;
    flex: 1;
}

.price {
    padding-top: 20px;
}

.title {
    font-size: 20px;
}

.price-and-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
